@model Projet_Final_Web.ViewModel.DVDViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<Utilisateurs> UserManager

@{
    ViewData["Title"] = "DVD";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int pagePrecedent = Model.page - 1;
    int pageSuivant = Model.page + 1;
}

<div class="col-12">
    <div class="row">
        <form asp-action="Index" class="col-12 my-4">
            <div class="form-group form-row">
                <input type="search" asp-for="TitreRechercher" class="form-control col-md-10 col-9">
                <button type="submit" class="btn btn-primary col-md-2 col-3">Rechercher</button>
                <p class="col-md-3 mt-3">Trier en ordre alphabétique de : </p>
                <select class="col-md-9 form-control mt-3" asp-for="TrierPar" asp-items="Model.ListTrie" onchange="this.form.submit()"></select>
            </div>
        </form>
        @foreach (var item in Model.listDVD)
        {
            String ImagePochettPath = @item.ImagePochette != null ? "/Images/" + @item.ImagePochette : "/Images/default.png";
            Utilisateurs utilisateurAyantDVDEnMain = (await UserManager.FindByIdAsync(item.NoUtilisateurMAJ.ToString()));
            <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                <div class="card mx-auto" style="width: 15rem;">
                    <img class="card-img-top" src="@ImagePochettPath" alt="Card image cap" height="270">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.TitreFrancais)
                        </h5>
                        <ul style=" list-style-type: none; padding: 0; ">
                            <li class="card-text">
                                Utilisateur ayant le DVD : <a asp-area="" asp-controller="DVDEnMain" asp-action="Index" asp-route-id="@utilisateurAyantDVDEnMain.Id">@Html.DisplayFor(modelItem => utilisateurAyantDVDEnMain.UserName)</a>
                            </li>
                        </ul>
                        <hr />
                        <div class="text-center justify-content-center row">
                            @if (Model.utilisateursActuel.TypesUtilisateurID == "S")
                            {
                                @if (utilisateurAyantDVDEnMain == Model.utilisateursActuel)
                                {
                                    <a href="/Films/Details/@item.NoFilm" class="btn btn-info col-11" role="button">Détail</a>
                                    <a href="/Films/Edit/@item.NoFilm" class="btn btn-primary col-11 my-1" role="button">Modifier</a>
                                    <a href="/Films/Delete/@item.NoFilm" class="btn btn-danger col-11" role="button">Supprimer</a>
                                }
                                else
                                {
                                    <a href="/Films/Details/@item.NoFilm" class="btn btn-info col-11" role="button">Détail</a>
                                    <a href="/Films/Edit/@item.NoFilm" class="btn btn-primary col-11 my-1" role="button">Modifier</a>
                                    <a href="/Films/Delete/@item.NoFilm" class="btn btn-danger col-11 mb-1" role="button">Supprimer</a>
                                    <a href="#" class="btn btn-secondary col-11 mb-1" role="button">Message à l'utilisateur</a>
                                    <a href="/Films/Emprunt/@item.NoFilm" class="btn btn-dark col-11" role="button">Emprunter</a>
                                }
                            }
                            else
                            {
                                @if (utilisateurAyantDVDEnMain == Model.utilisateursActuel)
                                {
                                    <a href="/Films/Details/@item.NoFilm" class="btn btn-info col-11" role="button">Détail</a>
                                    <a href="/Films/Edit/@item.NoFilm" class="btn btn-primary col-11 my-1" role="button">Modifier</a>
                                    <a href="/Films/Delete/@item.NoFilm" class="btn btn-danger col-11" role="button">Supprimer</a>
                                }
                                else
                                {
                                    <a href="/Films/Details/@item.NoFilm" class="btn btn-info col-11" role="button">Détail</a>
                                    <a href="#" class="btn btn-secondary col-11 my-1" role="button">Message à l'utilisateur</a>
                                    <a href="/Films/Emprunt/@item.NoFilm" class="btn btn-dark col-11" role="button">Emprunter</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <ul class="pagination justify-content-center">
        @if (pagePrecedent > 0)
        {
            <li class="page-item"><a class="page-link" href="/DVD/Index?page=@pagePrecedent">Previous</a></li>
        }
        @for (int i = 1; i <= Model.nbPage; i++)
        {
            if (i == Model.page)
            {
                <li class="page-item active"><a class="page-link" href="/DVD/Index?page=@i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="/DVD/Index?page=@i">@i</a></li>
            }
        }
        @if (pageSuivant <= Model.nbPage)
        {
            <li class="page-item"><a class="page-link" href="/DVD/Index?page=@pageSuivant">Next</a></li>
        }
    </ul>
</div>
<a href="/Films/Create" class="btn btn-info" role="button" style="position: fixed; bottom: 10px; right: 10px; width: 60px; height: 60px; padding: 10px 16px; font-size: 24px; line-height: 1.33; border-radius: 35px; " >+</a>
