@model Projet_Final_Web.ViewModel.AjoutEditDVDViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Ajout d'un ou plusieurs DVD</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-lg-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group form-inline d-flex justify-content-center">
                <label for="TypeAjout" class="col-form-label mr-1">Type d'ajout:</label>
                <select class="form-control" asp-for="TypeAjout" asp-items="Model.ListTypeAjout" onchange="this.form.submit()"></select>
            </div>
            <hr />
            @if (Model.typeUtilisateursConnecter == "S")
            {
                <h6>L'ajout est effectuer pour : </h6>
                <select class="form-control mb-3" asp-for="IDUtilisateursSelectionner" asp-items="ViewBag.listUtilisateurs"></select>
            }
            @if (Model.TypeAjout == 1)
            {
                <h5 class="text-center">Vous pouvez ajouter jusqu'à 10 DVD</h5>
                <h6 class="text-center text-danger">@ViewData["ErreurGlobal"]</h6>
                foreach (int key in Model.DictionaryNomFilm.Keys)
                {
                    <div class="form-group">
                        <label for="@Model.DictionaryNomFilm[key]" class="control-label">Titre Francais du DVD #@key :</label>
                        <input asp-for="DictionaryNomFilm[key]" maxlength="50" class="form-control" />
                        <span asp-validation-for="DictionaryNomFilm[key]" class="text-danger"></span>
                    </div>
                }
            }
            else
            {
                <h5 class="text-center">Vous pouvez ajouter 1 DVD</h5>
                <h6 class="text-center text-danger">@ViewData["ErreurGlobal"]</h6>
                <div class="form-group">
                    <label asp-for="Film.AnneeSortie" class="control-label">Année de Sortie :</label>
                    <input asp-for="Film.AnneeSortie" class="form-control" />
                    <span asp-validation-for="Film.AnneeSortie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Film.NoCategorie" class="control-label">Catégorie :</label>
                    <select asp-for="Film.NoCategorie" class="form-control" asp-items="ViewBag.NoCategorie"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Film.NoFormat" class="control-label">Format :</label>
                    <select asp-for="Film.NoFormat" class="form-control" asp-items="ViewBag.NoFormat"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Film.Resume" class="control-label">Résumer :</label>
                    <input asp-for="Film.Resume" class="form-control" />
                    <span asp-validation-for="Film.Resume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Film.DureeMinutes" class="control-label">Durée en minutes :</label>
                    <input asp-for="Film.DureeMinutes" class="form-control" />
                    <span asp-validation-for="Film.DureeMinutes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FilmOriginal" class="control-label">Est-ce le film original ? :</label>
                    <select asp-for="FilmOriginal" asp-items="ViewBag.FilmOriginal" class="form-control"></select>
                    <span asp-validation-for="FilmOriginal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Film.NbDisques" class="control-label">Nombre de disques :</label>
                    <input asp-for="Film.NbDisques" class="form-control" />
                    <span asp-validation-for="Film.NbDisques" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Film.TitreFrancais" class="control-label">Titre Francais :</label>
                    <input asp-for="Film.TitreFrancais" class="form-control" />
                    <span asp-validation-for="Film.TitreFrancais" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Film.TitreOriginal" class="control-label">Titre Original :</label>
                    <input asp-for="Film.TitreOriginal" class="form-control" />
                    <span asp-validation-for="Film.TitreOriginal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VersionEtendue" class="control-label">Est-ce la version étendue ? :</label>
                    <select asp-for="VersionEtendue" asp-items="ViewBag.FilmOriginal" class="form-control"></select>
                    <span asp-validation-for="VersionEtendue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Film.NoRealisateur" class="control-label">Réalisateur :</label>
                    <select asp-for="Film.NoRealisateur" class="form-control" asp-items="ViewBag.NoRealisateur"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Film.NoProducteur" class="control-label">Producteur :</label>
                    <select asp-for="Film.NoProducteur" class="form-control" asp-items="ViewBag.NoProducteur"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Film.Xtra" class="control-label">Autre Informations :</label>
                    <input asp-for="Film.Xtra" class="form-control" />
                    <span asp-validation-for="Film.Xtra" class="text-danger"></span>
                </div>
                <label class="control-label">Acteurs Principal (maximum 3) :</label>
                foreach (int key in Model.DictionaryActeurs.Keys)
                {
                    <div class="form-group">
                        <select asp-for="DictionaryActeurs[key]" asp-items="ViewBag.NoActeur" class="form-control"></select>
                    </div>
                }
                <label class="control-label">Langues (maximum 3) :</label>
                foreach (int key in Model.DictionaryLangues.Keys)
                {
                    <div class="form-group">
                        <select asp-for="DictionaryLangues[key]" asp-items="ViewBag.NoLangue" class="form-control"></select>
                    </div>
                }
                <label class="control-label">Sous titre (maximum 3) :</label>
                foreach (int key in Model.DictionarySousTitre.Keys)
                {
                    <div class="form-group">
                        <select asp-for="DictionarySousTitre[key]" asp-items="ViewBag.NoSousTitre" class="form-control"></select>
                    </div>
                }
                <label class="control-label">Supplements (maximum 3) :</label>
                foreach (int key in Model.DictionarySupplements.Keys)
                {
                    <div class="form-group">
                        <select asp-for="DictionarySupplements[key]" class="form-control" asp-items="ViewBag.NoSupplement"></select>
                    </div>
                }
                <div class="form-group">
                    <label class="col-form-label" for="idImage">Image de Pochette: </label>
                    <input type="file" class="form-control @ViewBag.ErreurImageClass" id="idImage" asp-for="image" accept="image/*" onchange="montrerImage(event)" />
                    <img style="width: 15rem" height="250" src="~/Images/default.png" class="img-thumbnail mt-4" id="idMontrerImage">
                    <span class="invalid-feedback text-center" id="messageInvalideImage">@ViewBag.ErreurPasImage</span>
                </div>


            }
            <div class="d-flex justify-content-center">
                <input type="submit" name="btnAjouterSelectionner" class="btn btn-primary w-25 text-center" value="Ajouter" />
            </div>
            <input type="hidden" asp-for="LienRetour" />
        </form>
    </div>
</div>

<div>
    <a href="@Model.LienRetour">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
